[submodule "LEI 2ano/2 Semestre/SO/SO2425"]
	path = LEI 2ano/2 Semestre/SO/SO2425
	url = https://github.com/yHugoSoares/SO2425.git
[submodule "LEI 2ano/2 Semestre/POO/POO/GrupoTP-74"]
	path = LEI 2ano/2 Semestre/POO/GrupoTP-74
	url = https://github.com/POO-UM/GrupoTP-74.git
[submodule "LEI 2ano/2 Semestre/POO/GrupoTP-74"]
	path = LEI 2ano/2 Semestre/POO/GrupoTP-74
	url = https://github.com/POO-UM/GrupoTP-74.git

[submodule "LEI 3ano/1 Semestre/CC/space-mission"]
	path = LEI 3ano/1 Semestre/CC/space-mission
	url = git@github.com:marcosevegrand/space-mission.git
[submodule "LEI 3ano/1 Semestre/SD/SD2526"]
	path = LEI 3ano/1 Semestre/SD/SD2526
	url = file:///Users/hugo/Documents/SD2526
